<div class="bank-PO po-content col-12 mx-0 px-0 d-none">
  <form
    action="#"
    class="needs-validation form bank-payment-form"
    novalidate
    id="bankPaymentForm"
  >
    <h4 class="text-start">Bank Account Details</h4>
    <div id="card-errors" role="alert"></div>

    <div class="row d-flex text-start my-4">
      <div class="form-group col-12 col-md-6">
        <label for="firstName">First Name<span> *</span></label>

        <input
          class="form-control"
          type="text"
          name="firstName"
          id="firstName"
          required
          pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
          jsonKey="CustomerFirstName"
        />
      </div>

      <div class="form-group col-12 col-md-6">
        <label for="lastname">Last Name<span> *</span></label>

        <input
          class="form-control"
          type="text"
          required
          pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
          class=""
          name="lastname"
          id="lastname"
          jsonKey="CustomerLastName"
        />
      </div>
    </div>
    <div class="row d-flex text-start my-4">
      <div class="form-group col-12 col-md-8">
        <label for="firstName">Email Address<span> *</span></label>

        <input
          class="form-control"
          type="text"
          required
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          class=""
          name="firstName"
          id="firstName"
          jsonKey="CustomerEmail"
        />
      </div>

      <div class="form-group col-12 col-md-4">
        <label for="lastname">Last 4 Digits of SSN<span> *</span></label>

        <input
          class="form-control"
          type="text"
          pattern="^[0-9]{4}$"
          required
          class=""
          name="lastname"
          id="lastname"
          jsonKey="Last4SSN"
        />
      </div>
    </div>
    <div class="row text-start my-4">
      <div class="form-group col-md-6">
        <label for="stp5anumber">Account Number<span> *</span></label>

        <input
          type="text"
          required
          pattern="^[0-9]{7,20}$"
          class="form-control"
          id="bank_account_number"
          jsonKey="BankAccountNumber"
        />
      </div>
      <div class="form-group col-md-6">
        <label for="stp5rnumber">Routing Number<span> *</span></label>

        <input
          required
          pattern="^[0-9]{9}$"
          type="text"
          maxlength="9"
          class="form-control"
          id="routing_number"
          jsonKey="BankRoutingNumber"
        />
      </div>
    </div>
    <div class="row text-start my-4">
      <div class="form-group col-12">
        <label for="stp5anumber">Bank Name</label>
        <input
          type="text"
          class="form-control"
          id="bank_name"
          jsonKey="BankName"
        />
      </div>
    </div>

    <!--
    <div class="step-1 py-2 col-11 mx-auto" id="berbixArea">
      <div class="BerBix-place-holder justify-content-center">
        <div class="spinner">
          <div class="cube1"></div>
          <div class="cube2"></div>
        </div>
      </div>
    </div>

    -->

    <partial src="paymentauth.html"></partial>

    <p class="error-1 error mt-3 mb-0 d-none">
      Please review the highlighted information above before submitting your
      payment.
    </p>
    <p class="error-2 error mt-3 mb-0 d-none">
      There was an error processing your payment. Please review your payment
      information and try again. If the problem persists, don't hesitate to
      contact one of our service representatives.
    </p>
    <p class="error-3 error mt-3 mb-0 d-none">
      We cannot process your payment at this time, please reach out to one of
      our representatives.
    </p>

    <div class="text-end">
      <button
        class="btn btn-access my-2 my-md-5 payment-btn"
        paymnt="Bank"
        id="bank-button"
      >
        <h5 class="m-0 cta-btn">Make Payment</h5>
      </button>
    </div>
  </form>
</div>
