<div class="step-2 col-11 mx-auto">
  <h1 class="my-sm-4 heading-title col-md-11 mx-auto" >Please, link your bank account to avoid issues when receiving your funds.</h1>

  <div class="row justify-content-center">
    <div class="col" >

      <iframe id="lendMateContainer" frameborder="0"></iframe>

      <!--
        <img class="my-4 rounded border" src="./img/wells-fargo.png" alt="cellphone" width="80"">
      <form action="" class="form-bank pt-5 mb-3 text-start d-flex flex-column align-items-center">
        <h4>Wells Fargo</h4>
        <a href="bank-list.html"><span>(Change Institution)</span></a>
        <label for="userName">
          <input class=" my-2 border rounded" type="text" name="userName" id="userName" placeholder="Username">
        </label>
        <label for="password">
          <input class=" my-2 border rounded" type="password" name="password" id="password" placeholder="Password">
        </label>
      </form>
       
      <a class="w-100 text-center" href="bank-steps.html"><button type="submit" class="btn btn-access mt-3">Login</button></a>
     
      -->
      
    </div>
  </div><br>
  <p style="font-size: 17px;">If you are having trouble with bank account verification, you can upload your recent three banks statements <a class="uploadLink" id="uploadLink" href="#">here</a> instead. </p>
</div>

